.c-graph{
 z-index: 1;
 opacity: 1;
 max-height: 99em;
 margin-top: 2em;
 transition: all .4s ease;

 &__area{
  margin: 0;
  list-style: none;
 }
 &__data{
  line-height: 2.6em;
  background: color(a, -6);
  position: relative;
  max-height: 2.6em;
  opacity: 1;
  transition: all .2s ease;
 }
 &__percentage{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  margin: 0;
  color: color(a);
  background: currentColor;
  box-shadow: 3px 0 4px -3px color(a, -3);

  &:after{
   content: attr(data-percent);
   display: block;
   width: 100%;
   right: 0;
   text-align: right;
   margin-right: -35px;
   top: 0;
   color: color(a, 2);
  }
  &--primary{
   color: color(b, -3);
  }
  &--rudimentary{
   color: color(c, -3);
  }
  &--exploring{
   color: color(d, -3);
  }
 }
 .is-disabled, &.is-disabled{
  margin: 0;
  opacity: 0;
  max-height: 0;
  transform: translateX(-30em) scale(.2) !important; // "!important" is necessary as this overrides styles applied directly to the element in question (using javascript)
 }
}
